body {
    background-color: rgb(211, 224, 231);
}

#hero {
    background-color: white;
    margin-top: 250px; 
    margin-bottom: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-left: 470px;
    margin-right: 470px;
    padding-top: 20px;
}
#hero img {
    border-radius: 15px;
    width: 400px;
    height: 400px;
    
    
}
 #hero h1 {
   
    font-size: 30px;
    text-align: center;
    max-width: 350px;
    margin-bottom: 5px;
 }
  #hero p {
    max-width: 300px ;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
  }

 /* mobile less than 576px */
@media (max-width: 576px) {

#hero {
    margin-left: 30px;
    margin-right: 30px;
}

#hero img {
    width: 450px;
    height: 450px;
}

 #hero h1 {   
    font-size: 35px;
    max-width: 420px;
 }

  #hero p {
    max-width: 400px ;
    font-size: 25px;
  }
  }
  
 
    /* mobile less than 768px */
@media (max-width: 768px) {

#hero {
    margin-left: 155px;
    margin-right: 155px;
}
  }
  
  /* mobile less than 992px */
@media (max-width: 992px) {

#hero {
    margin-left: 200px;
    margin-right: 200px;
}
  }
  