body {
    background-color: rgb(211, 224, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.hero {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 250px;
    border-radius: 6px;
}
.hero-image img {
    width: 250px;
    border-radius: 6px;
}
 .hero-text {
text-align: center ;
 }
 
.hero-text h1 {
   font-size: 1.2rem;
}
  .hero-text p {
    font-size: 1rem;
  }
